/* Reset Values */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}
#game-start {
  background: url("./images/message.png");
  position: absolute;
  height: 168px;
  width: 184px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#game-over {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("./images/gameover.png");
  width: 192px;
  height: 42px;
  z-index: 10;
  display: none;
}
#SCORE {
  z-index: 10;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: white;
  position: absolute;
  top: 50px;
  left: 50%;
  visibility: hidden;
}
#game-overlay {
  position: relative;
  background: url(./images/background-day.png) repeat-x;
  height: 512px;
  width: 350px;
  overflow: hidden;
}
.score-img {
  width: 24px;
  height: 36px;
  z-index: 10;
}

#bird {
  position: absolute;
  top: 200px;
  left: 40%;
  width: 34px;
  height: 24px;
  background: url(./images/yellowbird-downflap.png) no-repeat;
  background-size: cover;
  transition: transform 0.05s linear;
}

.bird-animation {
  animation: flap 0.5s infinite;
}
@keyframes flap {
  0% {
    background: url("./images/yellowbird-midflap.png");
  }
  25% {
    background: url("./images/yellowbird-downflap.png");
  }
  50% {
    background: url("./images/yellowbird-midflap.png");
  }
  75% {
    background: url("./images/yellowbird-upflap.png");
  }
  100% {
    background: url("./images/yellowbird-midflap.png");
  }
}

.pipe {
  position: absolute;
  transform-origin: center center;
  right: -100px;
  height: 320px;
  width: 52px;
  background: url("./images/pipe-green.png");
  
}
.ground {
  position: absolute;
  height: 112px;
  width: 336px;
  background: url("./images/base.png");
  bottom: 0px;
  z-index: 2;
  transform-origin: center right;
}
.ground-animation {
  animation: move 3.4s infinite linear;
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}
